# Day 1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input.txt', header=None)
x = df.iloc[:,0]

## Part one

In [3]:
((x - x.shift(1).bfill()).values.flatten() > 0).sum()

1832

## Part two

In [4]:
wx = x.rolling(window=3).sum().dropna()
((wx - wx.shift(1).bfill()).values.flatten() > 0).sum()

1858

# Day 2

In [13]:
df = pd.read_csv('input2.txt', header=None, delimiter=' ')
df.columns = ['direction', 'val']
df.direction.unique()

array(['forward', 'down', 'up'], dtype=object)

## Part one

In [17]:
forward = df[df.direction == 'forward'].val.sum()
down = df[df.direction == 'down'].val.sum()
up = df[df.direction == 'up'].val.sum()
forward * (down-up)

1936494

## Part two

In [19]:
hori, aim, depth = 0, 0, 0
for cmd, val in df.values:
    if cmd == 'down':
        aim += val
    if cmd == 'up':
        aim -= val
    if cmd == 'forward':
        hori += val
        depth += aim*val
hori*depth

1997106066

# Day 3

In [41]:
# Load
df = pd.read_csv('input3.txt', header=None, names=['raw'], dtype={'raw': str})
#n_bits = df.raw
n_bits = df.raw.str.len().unique()[0]
print(f'n_bits = {n_bits}')
df.head()

n_bits = 12

            raw
0  111100101100
1  101100110001
2  100110100101
3  001101100010
4  010111011110

## Part one

In [46]:
gamma_str = "".join([
    str(int(df.raw.str.slice(start=i, stop=i+1).astype(int).sum() > len(df) / 2))
    for i in range(n_bits)
])
gamma = int(gamma_str, 2)
epsilon_str = "".join(['1' if s == '0' else '0' for s in gamma_str])
epsilon = int(epsilon_str, 2)
print(f'{gamma_str} => {gamma}')
print(f'{epsilon_str} => {epsilon}')
print(f'result = {gamma} * {epsilon} = {gamma * epsilon}')

000011011010 => 218
111100100101 => 3877
result = 218 * 3877 = 845186

## Part two